* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  align-items: center;
  align-content: center;
  align-self: center;
  align-items: center;
}
body {
  height: 100%;
}

@keyframes slideIn {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

.listitem {
  font-size: 20px;
  color: white;
  font-family: Impact;
}

.tit {
  font-size: clamp(40px, 8vw, 100px);
  font-weight: bold;
  color: white;
  animation: slideIn 2s ease-out;
  font-family: Rochester;
}

body {
  background: linear-gradient(180deg, #000000, green);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  background-color: rgba(51, 51, 51, 0.8);
  padding: 15px 20px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  position: fixed;
}

nav ul {
  display: flex;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

nav ul li a:hover {
  color: black;
  transform: translateY(-2px);
  background: linear-gradient(45deg, green, green);
  border-radius: 10px;
  padding: 10px 20px;
}

.info-container {
  background-color: black;
  color: white;
  padding: 5%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.column {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

@media (max-width: 768px) {
  .tit {
      font-size: 50px;
      text-align: center;
  }

  .listitem {
      font-size: 20px;
  }

  nav ul {
      flex-direction: column;
      align-items: center;
  }

  nav ul li {
      margin-bottom: 10px;
  }

  .info-container {
      grid-template-columns: 1fr; /* Una sola columna en móviles */
      text-align: center;
  }

  .column {
      padding: 15px;
  }
}

/* Estilos adicionales */
#navbar {
  display: none;
}

/* La clase 'hidden' oculta el nav */
#navbar.hidden {
  display: none;
}

/* Cuando el nav está visible, se muestra */
#navbar:not(.hidden) {
  display: block;
}

.menu-button {
  background-color: #007bff;
  color: white;
  background-color: green;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.menu-button:hover {
  background-color: green;
}